<section class="">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h1>
                        WORLDTIME
                    </h1>
                    <P>
                        Newspaper is your news, entertainment, music fashion website. We provide you with the latest breaking news and videos straight from the entertainment industry.
                    </P>
                </div>
            </div>

            <div class="col-md-3">
                <div >
                    <h4>
                        CATEGORIES
                    </h4>
                    <ul class="list-unstyled p-3">
                        <li>
                            <a class=" text-decoration-none text-white " routerLink="Business" >
                                Business
                            </a>
                        </li>
                        <li>
                            <a class=" text-decoration-none text-white " routerLink="Sports">
                                Sports


                            </a>
                        </li>
                        <li>
                            <a class=" text-decoration-none text-white " routerLink="Entertainment">
                                Entertainment

                            </a>
                        </li>
                        <li>
                            <a class=" text-decoration-none text-white " routerLink="Health">
                                Health
                            </a>
                        </li>
                        <li>
                            <a class=" text-decoration-none text-white " routerLink="Science">
                                Science
                            </a>
                        </li>
                        <li>
                            <a class=" text-decoration-none text-white " routerLink="Technology">
                                Technology
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-5">
              <div class="container ">
                <div class="row flex-column align-items-center ">
                    <div class="">
                        <div  class="d-flex  justify-content-around">
                            <h6>
                                Help
                            </h6>
                            <h6>

                                Terms of use
                            </h6>
                            <h6>
                                Privacy Policy
                            </h6>
                        </div>
                    </div>
                    <div class="">
                      <div class="d-flex f-icon justify-content-around">

                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-instagram"></i>
                      </div>
                    </div>

                    <div class="">
                      <div class="d-flex p-3  justify-content-center  ">
                        <img src="../../assets/image/app-store-badge.svg" alt="" class=" p-2  w-50">
                        <img src="../../assets/image/google-play-badge.svg" alt="" class="  p-2  w-50 ">

                      </div>
                    </div>
                    <div>
                      <div class="text-center">
                        All rights reserved 2021 Mohamed Ouf
                      </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</section>
